<!doctype html>
<html>
<head>
    <script src="~/main.js"></script>
</head>
<body>
<input type="text" id="Par1" />
<input type="text" id="Par2" />
<br />
<input type="button" value="Topla" onclick="Hesapla('+');" />
<input type="button" value="Çıkart" onclick="Hesapla('-');" />
<input type="button" value="Çarp" onclick="Hesapla('*');" />
<input type="button" value="Böl" onclick="Hesapla('/');" />
<hr />
<div id="result">Sonuç</div>
</body>
</html>
© 2019 GitHub, Inc.