<!doctype html>
<html>
<head>
    <link href="~/main.css" rel="stylesheet" />
    <script src="~/main.js"></script>
</head>
<body>
    <div class="screen">
        <div class="result" id="result1"></div>
        <div class="calculator">
            <div>
                <div class="button" onclick="Values('7');">7</div>
                <div class="button" onclick="Values('8');">8</div>
                <div class="button" onclick="Values('9');">9</div>
            </div>
            <div style="clear: both;"></div>
            <div>
                <div class="button" onclick="Values('4');">4</div>
                <div class="button" onclick="Values('5');">5</div>
                <div class="button" onclick="Values('6');">6</div>
            </div>
            <div style="clear: both;"></div>
            <div>
                <div class="button" onclick="Values('1');">1</div>
                <div class="button" onclick="Values('2');">2</div>
                <div class="button" onclick="Values('3');">3</div>
            </div>
            <div style="clear: both;"></div>
            <div class="button" onclick="Clear();">C</div>
            <div class="button" onclick="Values('0');">0</div>
            <div class="button" onclick="Equals();">=</div>
        </div>
        <div class="operators">
            <div class="button" onclick="Operators('+');">+</div>
            <div class="button" onclick="Operators('-');">-</div>
            <div class="button" onclick="Operators('*');">*</div>
            <div class="button" onclick="Operators('/');">/</div>
        </div>
    </div>
</body>
</html>